# Assignment-Data-Visualization
# Tugas Pembelajaran Secara Statistik dan Optimisasi

Nama : Muh. Adrian Hidayat
NIM  : 1102200515

In [18]:
import pandas as pd
import numpy as np
file = "epl-goalScorer(20-21).csv"
dataset = pd.read_csv(file)
df_noid=dataset.iloc[:,2:]

In [15]:
dataset.head

<bound method NDFrame.head of      Unnamed: 0    id             player_name  games  time  goals         xG  \
0             0   647              Harry Kane     35  3097     23  22.174859
1             1  1250           Mohamed Salah     37  3085     22  20.250847
2             2  1228         Bruno Fernandes     37  3117     18  16.019454
3             3   453           Son Heung-Min     37  3139     17  11.023287
4             4   822         Patrick Bamford     38  3085     17  18.401863
..          ...   ...                     ...    ...   ...    ...        ...
517         517  9415  Jaden Philogene-Bidace      1     1      0   0.000000
518         518  9423         Gaetano Berardi      2   113      0   0.074761
519         519  9524          Anthony Elanga      1    67      0   0.000000
520         520  9540             Femi Seriki      1     1      0   0.000000
521         521  9552         Tyrese Francois      1    13      0   0.000000

     assists         xA  shots  key_passes  yellow_cards  red_cards position  \
0         14   7.577094    138          49             1          0        F
1          5   6.528526    126          55             0          0    F M S
2         12  11.474996    121          95             6          0      M S
3         10   9.512992     68          75             0          0    F M S
4          7   3.782247    107          30             3          0      F S
..       ...        ...    ...         ...           ...        ...      ...
517        0   0.000000      0           0             0          0        S
518        0   0.000000      1           0             0          0      D S
519        0   0.000000      0           0             0          0        M
520        0   0.000000      0           0             0          0        S
521        0   0.000000      0           0             0          0        S

            team_title  npg       npxG    xGChain  xGBuildup
0            Tottenham   19  19.130183  24.995648   4.451257
1            Liverpool   16  15.683834  28.968234   9.800236
2    Manchester United    9   8.407840  26.911412  11.932285
3            Tottenham   16  10.262118  20.671916   6.608751
4                Leeds   15  16.879525  23.394953   4.131796
..                 ...  ...        ...        ...        ...
517        Aston Villa    0   0.000000   0.056044   0.056044
518              Leeds    0   0.074761   0.231278   0.231278
519  Manchester United    0   0.000000   0.000000   0.000000
520   Sheffield United    0   0.000000   0.000000   0.000000
521             Fulham    0   0.000000   0.000000   0.000000

[522 rows x 19 columns]>

In [19]:
print(dataset.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

1. 10 player terbanyak mencetak gol

In [26]:
top_pencetak_gol = dataset.sort_values(by='goals', ascending=False).head(10)
print("10 Player terbanyak mencetak gol:")
top_pencetak_gol[['player_name', 'goals']]

10 Player terbanyak mencetak gol:

             player_name  goals
0             Harry Kane     23
1          Mohamed Salah     22
2        Bruno Fernandes     18
3          Son Heung-Min     17
4        Patrick Bamford     17
5  Dominic Calvert-Lewin     16
6            Jamie Vardy     15
7          Ollie Watkins     14
8         Ilkay Gündogan     13
9    Alexandre Lacazette     13

2. 10 Player terlama durasi bermain

In [28]:
top_durasi_bermain = dataset.sort_values(by='time', ascending=False).head(10)
print("10 Player dengan durasi bermain terlama:")
top_durasi_bermain[['player_name', 'time']]

10 Player dengan durasi bermain terlama:

               player_name  time
296            Hugo Lloris  3420
378      Emiliano Martinez  3420
311      Kasper Schmeichel  3420
110  Pierre-Emile Højbjerg  3420
40           Stuart Dallas  3412
327           Matt Targett  3407
480            Luke Ayling  3400
204       Andrew Robertson  3391
55         Youri Tielemans  3359
7            Ollie Watkins  3330

3. 10 player terbanyak assist

In [29]:
top_assists = dataset.sort_values(by='assists', ascending=False).head(10)
print("10 Player dengan assist terbanyak:")
top_assists[['player_name', 'assists']]

10 Player dengan assist terbanyak:

         player_name  assists
0         Harry Kane       14
2    Bruno Fernandes       12
58   Kevin De Bruyne       11
3      Son Heung-Min       10
51     Jack Grealish       10
15   Marcus Rashford        9
6        Jamie Vardy        9
57          Raphinha        9
49       Timo Werner        8
281  Aaron Cresswell        8

4. 4 player pencetak gol terbanyak dari kesebelasan manchester city

In [30]:
mc_top_pencetak_gol =dataset[dataset['team_title'] == 'Manchester City'].sort_values(by='goals', ascending=False).head(4)
print("4 Player pencetak gol terbanyak dari kesebelasan Manchester City:")
mc_top_pencetak_gol[['player_name', 'goals']]

4 Player pencetak gol terbanyak dari kesebelasan Manchester City:

        player_name  goals
8    Ilkay Gündogan     13
22  Raheem Sterling     10
28     Riyad Mahrez      9
35    Gabriel Jesus      8

5. Dari kesebelasan mana pencetak gol terbanyak

In [37]:
tim_top_pencetak_gol= dataset.sort_values(by='goals', ascending=False).iloc[0]
print("Dari kesebelasan mana pencetak gol terbanyak:")
tim_top_pencetak_gol[['team_title']]

Dari kesebelasan mana pencetak gol terbanyak:

team_title    Tottenham
Name: 0, dtype: object

6. Berapa jumlah kartu kuning dan merah yang diterima pembuat assist  terbanyak ?

In [38]:
top_assists = dataset.sort_values(by='assists', ascending=False).iloc[0]
print("Jumlah kartu kuning dan merah yang diterima pembuat assist terbanyak:")
top_assists[['player_name', 'yellow_cards','red_cards']]

Jumlah kartu kuning dan merah yang diterima pembuat assist terbanyak:

player_name     Harry Kane
yellow_cards             1
red_cards                0
Name: 0, dtype: object

7. Siapa yang jumlah assist dan golnya paling banyak dan dari kesebelasan mana ?

In [42]:
top_goals_assists_player = dataset.loc[(dataset['goals'] + dataset['assists']).idxmax()]
team_most_goals_assists_player = top_goals_assists_player['team_title']
print("Pemain dengan jumlah assist dan gol terbanyak dan dari kesebelasan mana:")
top_goals_assists_player[['player_name', 'goals','assists','team_title']]

Pemain dengan jumlah assist dan gol terbanyak dan dari kesebelasan mana:

player_name    Harry Kane
goals                  23
assists                14
team_title      Tottenham
Name: 0, dtype: object

8. 5 kesebelasan yang menyumbangkan gol terbanyak

In [51]:
top_5_goal_contributors_team = dataset.groupby('team_title')['goals'].sum().nlargest(5)
print("5 Kesebelasan yang menyumbangkan gol terbanyak:")
top_5_goal_contributors_team

5 Kesebelasan yang menyumbangkan gol terbanyak:

team_title
Manchester City      77
Manchester United    68
Tottenham            66
Leicester            64
Liverpool            64
Name: goals, dtype: int64

9. Urutkan pemain berdasarkan jumlah gol terbanyak tanpa mendapatkan kartu sama sekali !

In [55]:
players_tanpa_kartu = dataset[(dataset['yellow_cards'] == 0) & (dataset['red_cards'] == 0)].sort_values(by='goals', ascending=False)
print("Pemain yang memiliki jumlah gol terbanyak tanpa mendapatkan kartu sama sekali:")
players_tanpa_kartu[['player_name', 'goals']]

Pemain yang memiliki jumlah gol terbanyak tanpa mendapatkan kartu sama sekali:

         player_name  goals
1      Mohamed Salah     22
3      Son Heung-Min     17
13        Chris Wood     12
28      Riyad Mahrez      9
29     Harvey Barnes      9
..               ...    ...
353      Lys Mousset      0
343    Islam Slimani      0
341       Moise Kean      0
340          Emerson      0
521  Tyrese Francois      0

[164 rows x 2 columns]